body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto !important;
}

a i {
    font-size: 36px;
    padding: 0% 3% 5% 3%;
}

a:link {
    color: #c00;
}

a:visited {
    color: #800000
}

.social-links {
    text-decoration: none !important;
    color: inherit !important;
}

.about-me-image {
    max-width: 400px;
    margin-left: 1.5rem;
}

@media (max-width: 575px) {
    .about-me-image {
        max-width: 100%;
        margin-left: 0;
    }
}